CANDY_ADDR=:8080
CANDY_PUBLIC_URL=https://candy.ztend.com
CANDY_DB_PATH=/var/opt/candy_data/data/candy.db
CANDY_DATA_DIR=/var/opt/candy_data/data
CANDY_FRONTEND_DIR=./frontend/dist
CANDY_APP_SECRET=ThisIsForDataSavedEncryption
CANDY_ADMIN_USERNAME=super_admin
CANDY_ADMIN_PASSWORD=YouMustChangeThePasswordWhenYouDeploy
CANDY_TRUST_PROXY_HEADERS=true